body {
    font-family: 'Roboto', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #000000;
    font-size: 13px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: 20px;
    letter-spacing: 2px;
}

.product-container {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 200px;
    overflow-x: auto;
    scrollbar-width: none;
}
.product-container::-webkit-scrollbar {
    display: none; 
}
.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 280px;
    height: 330px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}



.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 1000;
}

.discount {
    background-color: #7ac142;
}

.supper-discount {
    background-color: #d91656;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.product .name{
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-decoration: none;

}

.product .price {
    font-weight: bold;
    color: #D95350;
    font-size: 20px;
}


.product .wrap_img{
    width: 200px;
    height: 150px;
}

.wrap_img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.pagination {
    text-align: center;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    padding: 12px 20px;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.3;
    border: none;
    background-color: #AEAEAE;
    color: white;
    border-radius: 50px;
    transition: background-color 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.pagination button:hover {
    background-color: #7DBD44;
    opacity: 1;
    transform: scale(1.1);
}

.pagination .active {
    background-color: #7DBD44;
    opacity: 1;
    transform: scale(1.1);
}

.pagination button:focus {
    outline: none;
    transform: scale(1.05);
}
