<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gapple Footer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../style/css/component-css/UserHome/footer.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5        xcvvxxcvPILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <div class="container-fluid bg-secondary py-3">
            <div class="row text-center text-light d-flex justify-content-center align-items-center">
                <div class="col-md-3 col-6 mb-3 d-flex flex-column align-items-center">
                    <img src="../../../resource/Image/footer_and_products_img/truck-icon.jpg" height=" 50px"
                        alt="Giao hàng tận nơi" class="mb-2">
                    <h5>DELIVERY</h5>
                    <p class="small">Free delivery within city</p>
                </div>
                <div class="col-md-3 col-6 mb-3 d-flex flex-column align-items-center">
                    <img src="../../../resource/Image/footer_and_products_img/page-reload-icon-31.png" height="45px"
                        alt="Đổi trả dễ dàng" class="mb-2">
                    <h5>EASY RETURN</h5>
                    <p class="small">Free exchange within 10 days</p>
                </div>
                <div class="col-md-3 col-6 mb-3 d-flex flex-column align-items-center">
                    <img src="../../../resource/Image/footer_and_products_img/like-icon-thumbs-up-symbol-vector-23907940.jpg" height="50px"
                        alt="Hàng chính hãng" class="mb-2">
                    <h5>GENUINE PRODUCTS</h5>
                    <p class="small">100% genuine product commitment</p>
                </div>
                <div class="col-md-3 col-6 mb-3 d-flex flex-column align-items-center">
                    <img src="../../../resource/Image/footer_and_products_img/dollar-icon.png" height="50px"
                        alt="Nhận hàng trả tiền" class="mb-2">
                    <h5>CASH ON DELIVERY</h5>
                    <p class="small">Cash, card swipe, bank transfer</p>
                </div>
            </div>
        </div>
        
        <footer class="py-4">
            <div class="row">
                <!-- Cột 1: Về Gapple -->
                <div class="col-md-3">
                    <h5 class="footer-heading">About Gapple <img src="../../../resource/Image/logo/KoNen_logoNgang.png" alt="Gapple Icon"
                            height="60px"></h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="custom-link">
                                <h6>GAPPLE Joint Stock Company</h6>
                            </a></li>
                        <li>GBusiness Registration Certificate No.: 0108037559</li>
                        <li>Consulting hotline: <a class="custom-link-2"><strong>0936
                                    096 900</strong></a></li>
                        <li>Corporate Customers: <a class="custom-link-2"><strong>0936 368
                                    455</strong> </a></li>
                        <li>Warranty: <a class="custom-link-2  " style="font: weight 20px;"><strong>0936 096 900 (Nhánh
                                    3)</strong> </a>
                        </li>
                        <br>
                        <ul class="list-unstyled">
                            <h5 class="footer-heading">Social Network</h5>
                            <div class="row-md-3 ">
                                <a href="#"> <img class="img-icon me-1"
                                        src="../../../resource/Image/footer_and_products_img/icons8-facebook-48.png"
                                        height="35px">
                                </a>    
                                <a href="#"> <img class="img-icon me-2"
                                        src="../../../resource/Image/footer_and_products_img/icons8-instagram-48.png"
                                        height="40px"></a>

                                <a href="#"><img class="img-icon me-1"
                                        src="../../../resource/Image/footer_and_products_img/icons8-youtube-48.png" height="35px"></a>

                            </div>
                        </ul>
                </div>

                <!-- Cột 2: Hỗ trợ khách hàng -->
                <div class="col-md-3">
                    <h5 class="footer-heading">CUSTOMER SUPPORT</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="custom-link">Introduce</a></li>
                        <li><a href="#" class="custom-link">Buying Guide</a></li>
                        <li><a href="#" class="custom-link">Corporate Sales</a></li>
                        <li><a href="#" class="custom-link">Mua Trả Góp</a></li>
                        <li><a href="#" class="custom-link">Buy on installment</a></li>
                        <li><a href="#" class="custom-link">GFix – Repair Service Center</a></li>
                        <li><a href="#" class="custom-link">Contact</a></li>
                        <li><a href="#" class="custom-link"></a><img
                                src="../../../resource/Image/footer_and_products_img/dathongbao-1-e1542425893350.png" alt=""
                                height="60px"></li>

                    </ul>
                </div>

                <!-- Cột 3: Chính sách -->
                <div class="col-md-3">
                    <h5 class="footer-heading">POLICY</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="custom-link">Warranty & Return Policy</a></li>
                        <li><a href="#" class="custom-link">Order policy</a></li>
                        <li><a href="#" class="custom-link">Shipping Policy</a></li>
                        <li><a href="#" class="custom-link">Information security policy</a></li>
                        <li><a href="#" class="custom-link">Payment policy</a></li>
                        <li><a href="#" class="custom-link">Gapple Care Gold Warranty Package</a></li>
                        <li><a href="#" class="custom-link">Warranty packages to support businesses</a></li>
                    </ul>
                </div>

                <!-- Cột 4: Địa chỉ -->
                <div class="col-md-3">
                    <h6 class="footer-heading">Ha Noi</h6>
                    <ul class="list-unstyled">
                        <li>
                            <h6>Facility 1: 113 Hoang Cau, Dong Da District, Hanoi.</h6>
                        </li>
                        <li>Phone: <a class="custom-link-2">0306 019 912</a></li>
                        <li>
                            <h6>Facility 2: 99 Nguyen Van Huyen, Cau Giay District, Hanoi.</h6>
                        </li>
                        <li>Phone: <a class="custom-link-2">0773 566 799</a></li>
                    </ul>
                    <h6 class="footer-heading">Ho Chi Minh City:</h6>
                    <ul class="list-unstyled">
                        <li>
                            <h6>Facility 3: 186 Vo Van Tan, District 3, Ho Chi Minh City.</h6>
                        </li>
                        <li>Phone: <a class="custom-link-2">0386 219 772</a></li>
                        <li><i>(All facilities have parking spaces)</i></li>

                    </ul>
                </div>
            </div>
            <hr>
            <div class="below_footer">
                <ul class="list-unstyled">
                    <li>
                        Featured products: MacBook | MacBook Air | MacBook Pro | iMac | Mac Mini
                    </li>
                    <li>
                        Copyright © 2024 - Copyright belongs to MacOne.
                    </li>
                </ul>
            </div>

        </footer>
    </div>
</body>

</html>