<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../src/style/css/component-css/couponList/couponList.css">
    <title>Coupon List</title>
</head>

<body>
    <h1>Your Coupons</h1>
    <p>Create and manage coupons to provide discounts for your products</p>

    <form>
        <div class="search">
            <!-- <span class="seacrh-icon material-symbols-outlined">search</span> -->
            <img src="../../../resource/Image/couponList/search.png">
            <input type="search" class="search-input" placeholder="Search">
        </div>
    </form>
    <button class="add-button">
        <span>Add Coupon</span>
    </button>
    <div>
        <table class="content-table">
            <thead>
                <th>Type</th>
                <th>Name</th>
                <th>Coupon Code</th>
                <th>Expire</th>
                <th>#used</th>
                <th>Actions</th>
            </thead>
            <tr>
                <td>all products</td>
                <td></td>
                <td>free</td>
                <td>100% off</td>
                <td>0/10000</td>
                <td class="edit-dots"><strong>Edits</strong><img id="dots"
                        src="../../../resource/Image/couponList/dots.png"></td>
            </tr>
            <tr>
                <td>all products</td>
                <td></td>
                <td>free</td>
                <td>100% off</td>
                <td>0/10000</td>
                <td class="edit-dots"><strong>Edits</strong><img id="dots"
                        src="../../../resource/Image/couponList/dots.png"></td>
            </tr>
        </table>
    </div>
    <button class="show-coupons"> Show archive coupons</button>
    <button class="help">
        <img src="../../../resource/Image/couponList/question.png">
        <p>Help</p>
    </button>

</body>

</html>