html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

iframe {
    width: 100%;
    height: 93%;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: 1000;
    border: none;
}

#topProducts {
    height: 580px;
}
#listProduct{
    height: 1080px;
}
#banner {
    margin-top: 50px;
    height: 93.5%;
}
#footer{
    height: 100%;
}