<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Products</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'src/style/css/component-css/UserHome/topProduct.css'%}">
</head>
<body>
<header>
    <h1>Top Products</h1>
</header>
<main>
    <div class="product-container" id="productContainer"></div>
    <div class="pagination" id="pagination"></div>
</main>
    <script src="/static/src/style/js/component-js/topProduct.js"></script>
</body>
</html>
