{% load static %}
<head>

    <title>Navigation Components</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href=" {% static 'style/css/admin-css/AdminSidebar.css' %}">
    {#    <script src="{% static 'style/js/page/admin-js/Admin.js'%}"></script>#}
</head>
<body>
<nav id="sidebar">
    <ul class="navbar-nav">
        <li class="nav-item theme-text">
            <img class="logo" src="{% static 'resource/Image/logo/KoNen_logoNgang_Ngang2.png' %}" alt="Logo">
        </li>
    </ul>

    <ul class="list-unstyled" id="accordionExample">
        <!-- Dashboard -->
        <li class="menu">
            <a href="/admin/dashboard" class="dropdown-toggle">
                <div>
                    <i class="fa-solid fa-users"></i>
                    <span>Dashboard</span>
                </div>
            </a>
        </li>

        <!-- Product Management -->
        <li class="menu">
            <a href="#" class="dropdown-toggle">
                <div>
                    <i class="fa-solid fa-list-check"></i>
                    <span>Product Management</span>
                </div>
            </a>
            <ul class="submenu list-unstyled hidden">
                <li class="nav-item"><a href="{% url 'g_admin:admin_get_product' %}">Products</a></li>
                <li class="nav-item"><a href="{% url 'g_admin:creatProduct' %}">Add Product</a></li>
                <li class="nav-item"><a href="#">Add/Edit Categories</a></li>
            </ul>
        </li>

        <!-- Promotion Program -->
        <li class="menu">
            <a href="#" class="dropdown-toggle">
                <div>
                    <i class="fa-brands fa-space-awesome"></i>
                    <span>Promotion Program</span>
                </div>
            </a>
            <ul class="submenu list-unstyled hidden">
                <li><a href="{% url 'g_admin:coupon_list' %}">Coupons</a></li>
                <li><a href="{% url 'g_admin:createCoupon' %}">Add Coupon</a></li>
            </ul>
        </li>

        <!-- Order Management -->
        <li class="menu">
            <a href="#" class="dropdown-toggle">
                <div>
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Order Management</span>
                </div>
            </a>
            <ul class="submenu list-unstyled hidden">
                <li><a href="#">View Cart</a></li>
                <li><a href="#">Orders</a></li>
                <li><a href="#">Checkout</a></li>
                <li><a href="#">Invoice</a></li>
                <li><a href="#">Shipments</a></li>
                <li><a href="#">Products in Cart</a></li>
                <li><a href="#">Refunds</a></li>
            </ul>
        </li>
        <li class="menu">
            <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle ">
                <div class="">
                    <i class="fa-solid fa-magnifying-glass-chart"></i>
                    <span>Analysis</span>
                </div>
            </a>
            <ul class="submenu list-unstyled hidden" data-parent="#accordionExample" style="">
                <li>
                    <a class="" href="#"> DataTables </a>
                </li>
                <li>
                    <a class="  " href="#"> chart </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>


<script src="{% static 'style/js/component-js/AdminSidebar.js' %}"></script>

</body>
