{% load humanize %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coupon List</title>
    <link rel="stylesheet" href="{% static 'style/css/admin-css/CouponList.css' %}">
    <link rel="stylesheet" href="{% static 'resource/fontawesome-free-6.6.0-web/css/all.css' %}">
</head>


<body>
<div id="container">


    <div id="menu_sidebar">
        {% include 'g_admin/AdminSidebar.html' %}

    </div>

    <div id="main">

        <div class="coupon-container">
            <div class="coupon-title">
                <h1>Coupon List</h1>
                <a href="#" class="add-coupon-btn">+ Add Coupon</a>
            </div>

            <table class="coupon-table">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Unit</th>
                    <th>Value</th>
                    <th>Max Value</th>
                    <th>Product ID</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Active</th>
                    <th>Remaining</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for coupon in coupons %}
                    <tr>
                        <td>{{ coupon.code }}</td>
                        <td>{{ coupon.type }}</td>

                        <td>
                            {% if coupon.percent %}
                                %
                            {% elif coupon.amount %}
                                VND
                            {% else %}
                                -
                            {% endif %}
                        </td>


                        <td>
                            {% if coupon.percent %}
                                {{ coupon.percent }}
                            {% elif coupon.amount %}
                                {{ coupon.amount|intcomma }}
                            {% else %}
                                -
                            {% endif %}
                        </td>


                        <td>{{ coupon.maxValue|floatformat:0|intcomma }} đ</td>


                        <td> {% if coupon.forProduct %}
                            {{ coupon.forProduct }}
                        {% else %}
                            -
                        {% endif %}

                        </td>


                        <td>{{ coupon.from_date|date:"Y-m-d" }}</td>
                        <td>{{ coupon.to_date|date:"Y-m-d" }}</td>
                        <td>{{ coupon.active|yesno:"Yes,No" }}</td>
                        <td>{{ coupon.remaining }}</td>

                        <td>
                            <a href="#" class="edit-btn">Edit</a>
                            <a href="#" class="delete-btn">Delete</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="9">No coupons available.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>


</body>

