{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'style/css/admin-css/Admin.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

<div class="container row">

    <div class="side_bar mid_align">
        {% include 'g_admin/AdminSidebar.html' %}
    </div>


    <div class="main">
        <div id="header" class="">
            {% include 'g_admin/AdminHeader.html' %}
        </div>

        <div id="body">
            <!--        <iframe id="iframe_body" src="../../../components/AdminComponent/Dashboard.html" frameborder="0"></iframe>-->
{#            <iframe id="iframe_body" src="../../../../../myproject/product/templates/product/AddProduct.html" frameborder="0"></iframe>#}
               {% include 'g_admin/Dashboard.html' %}
            <!--                <iframe id="iframe_body" src="../../../components/AdminComponent/ViewCart.html" frameborder="0"></iframe>-->
        </div>


    </div>

</div>
<script src="{% static 'style/js/page/admin-js/Admin.js'%}"></script>


</body>
