<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MacBook Pro 2023</title>
     {% load static %}
    <link href="{% static 'style/css/component-css/UserHome/header.css' %}"  rel="stylesheet">
    <link href="{% static 'resource/fontawesome-free-6.6.0-web/css/all.css' %}" rel="stylesheet"  >


</head>
<body>
<header>
    <section class="header">
        <div class="logo">
            <a href="http://127.0.0.1:8000/home">
                <img src="/static/resource/Image/test.png" alt="Logo">
            </a>
        </div>
        <ul class="menu">
            <li class="menu-item">
                <span>MacBook</span>
                <ul class="tab">
                    <li class="tab-item">MacBook Air</li>
                    <li class="tab-item">MacBook Pro</li>
                </ul>
            </li>
            <li class="menu-item">
                <span>iMac - Mac Desktop</span>
                <ul class="tab">
                    <li class="tab-item">iMac</li>
                    <li class="tab-item">Mac Mini</li>
                    <li class="tab-item">Mac Studio</li>
                    <li class="tab-item">Mac Pro</li>
                    <li class="tab-item">Apple Display</li>
                </ul>
            </li>
            <li class="menu-item">
                <span>iPhone</span>
                <ul class="tab">
                    <li class="tab-item">iPhone 15 Series</li>
                    <li class="tab-item">iPhone 16 Series</li>
                </ul>
            </li>
            <li class="menu-item">
                <span>iPad</span>
                <ul class="tab">
                    <li class="tab-item">iPad</li>
                    <li class="tab-item">iPad Air</li>
                    <li class="tab-item">iPad Pro</li>
                    <li class="tab-item">iPad Mini</li>
                </ul>
            </li>
            <li class="menu-item">
                <span>AirPods</span>
            </li>
            <li class="menu-item">
                <span>Màn hình</span>
                <ul class="tab">
                    <li class="tab-item">Màn hình Apple</li>
                    <li class="tab-item">Màn hình Asus</li>
                    <li class="tab-item">Màn hình Deel</li>

                </ul>
            </li>
            <li class="menu-item">
                <span>Phụ Kiện</span>
                <ul class="tab">
                    <li class="tab-item">Phụ kiện MacBook</li>
                    <li class="tab-item">Phụ kiện iPhone</li>
                    <li class="tab-item">Phụ kiện iPad</li>
                    <li class="tab-item">Phụ kiện Apple khác</li>
                    <li class="tab-item">Phụ kịện khác</li>
                </ul>
            </li>
        </ul>
        <div class="icons">
            <a href="http://127.0.0.1:8000/cart/detail/" class="icon cart-icon">
                <i class="fas fa-shopping-cart"></i>
                <span id="cart-badge" class="cart-badge" style="display: none;">0</span>
            </a>

            <a href="#" class="icon"><i class="fas fa-search"></i></a>
            <a href="../Auth/auth.html" class="icon user-login" target="_top">
                <i class="fas fa-user"></i>
                <span>Login</span>
            </a>
        </div>
    </section>
</header>
</body>
</html>
