x{% load static %}
{% load humanize %}
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link href="{% static 'style/css/component-css/UserHome/list_product.css' %} " rel="stylesheet">


</head>

<body>


<div class="container text-center my-5">
    <div class="product-name">
        <h2 class="d-inline-block"><b>MacBook Pro</b></h2>
    </div>
</div>
<div class="container">
    {% for pro in macPro %}
        <div class="card custom-card">

            {% if coupon and coupon.percent and coupon.percent >= 50 %}
                <div class="badge  supper-discount">-{{ coupon.percent }}%</div>

            {% elif coupon and coupon.percent and coupon.percent < 50 %}
                <div class="badge  discount">-{{ coupon.percent }}%</div>

            {% endif %}

            <div class="wrap_img">
                <img src="{{ pro.images.first.image.url }}" class="card-img-top" alt="{{ pro.name }}}">
            </div>

            <div class="card-body">
                <div class="card-body-content">
                    <a href="/product/detail/{{ pro.id }}" class="card-title">{{ pro.name }}</a>
                    <p class="card-text">{{ pro.description }}</p>
                </div>


                {% if coupon %}
                    <div class="price">
                        <p class="cost new-price"> {{ pro.price|intcomma }} ₫</p>
                        <p class="cost old-price"> {{ pro.price|intcomma }} ₫</p>
                    </div>
                {% else %}
                    <p class="cost"> {{ pro.price|intcomma }} ₫</p>
                {% endif %}


            </div>
        </div>
    {% endfor %}
</div>


<div class="container text-center my-5">
    <div class="product-name">
        <h2 class="d-inline-block"><b>MacBook Air</b></h2>
    </div>
</div>

<div class="container">
    {% for air in macAir %}
        <div class="card custom-card">

            {% if coupon and coupon.percent and coupon.percent >= 50 %}
                <div class="badge  supper-discount">-{{ coupon.percent }}%</div>

            {% elif coupon and coupon.percent and coupon.percent < 50 %}
                <div class="badge  discount">-{{ coupon.percent }}%</div>

            {% endif %}

            <div class="wrap_img">
                <img src="{{ air.images.first.image.url }}" class="card-img-top" alt="{{ air.name }}}">
            </div>
            <div class="card-body">
                <div class="card-body-content">
                    <a href="/product/detail/{{ air.id }}" class="card-title">{{ air.name }}</a>
                    <p class="card-text">{{ air.description }}</p>

                </div>




                {% if coupon %}
                    <div class="price">
                        <p class="cost new-price"> {{ air.price|intcomma }} ₫</p>
                        <p class="cost old-price"> {{ air.price|intcomma }} ₫</p>
                    </div>
                {% else %}
                    <p class="cost"> {{ air.price|intcomma }} ₫</p>
                {% endif %}


            </div>
        </div>
    {% endfor %}
</div>


<script>
    window.onload = function () {
        const products = document.querySelectorAll('.custom-card');

        products.forEach(product => {
            const oldPriceElement = product.querySelector('.old-price');
            const newPriceElement = product.querySelector('.new-price');

            if (!oldPriceElement || !newPriceElement) return;


            const discountPercent = parseInt("{{ coupon.percent }}") || 0;
            let oldPrice = oldPriceElement.innerText.replace(' ₫', '').replace(/,/g, '');

            const newPrice = (oldPrice * (100 - discountPercent)) / 100;


            const formattedOldPrice = parseInt(oldPrice).toLocaleString();
            const formattedNewPrice = parseInt(newPrice).toLocaleString();


            newPriceElement.innerText = formattedNewPrice + " ₫";
            oldPriceElement.innerText = formattedOldPrice + " ₫";
        });
    };
</script>


</body>
