
<body>
    {% load static %}
    {% load humanize %}
    <link href="{% static 'style/css/component-css/UserHome/topProduct.css' %}" rel="stylesheet">
    <title>Top Products</title>
    <h1>Top Products</h1>
    <main>
        <div class="product-container">
            {% for product in top4 %}
                <div class="product">
                    <div class="wrap_img">
                        <img src="{{ product.image }}" alt="{{ product.name }}">
                    </div>
                    <a href="#" class="name"> {{ product.name }}</a>
                    <p class="price"> {{product.price|intcomma }} ₫</p>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
