{% load static %}

<head>

    <link href="{% static 'style/css/admin-css/AddProduct.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'resource/fontawesome-free-6.6.0-web/css/all.css' %}">

</head>
<body>

<div id="container">
    <div id="menu-sidebar">
         {% include 'g_admin/AdminSidebar.html' %}
    </div>


    <div id="main">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-sm mb-2 mb-sm-0">
                    <h1 class="page-header-title">Add Product</h1>
                </div>
            </div>
        </div>

        <div class="main-container">
            <form id="form" method="POST" action="{% url 'product:product_create' %}" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}
                <div class="left-column">
                    <div class="product-information">
                        <h2>Information </h2>


                        <div class="form-group">
                            <label for="productName">Name</label>
                            <input type="text" id="productName" name="name" placeholder="Enter product name" required>
                        </div>

                        <div class="form-row">
                            <div class="form-group half-width">
                                <label for="sku">SKU</label>
                                <input type="text" id="sku" name="sku" placeholder="Enter SKU" required>
                            </div>
                            <div class="form-group half-width">
                                <label for="category">Category</label>
                                <select id="category" name="category" class="option-select" required>
                                    {% for cate in category %}
                                        <option value="{{ cate.id }}">{{ cate.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description">Descriptions</label>
                            <textarea id="description" name="description" placeholder="Enter description" rows="4"
                                      required></textarea>
                        </div>

                        <div class="media-section">
                            <h2>Image</h2>
                            <div class="media-upload-box">
                                <input type="file" id="fileInput" name="product_images" accept="image/*" required
                                       multiple/>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="right-column">
                    <div class="section pricing-section">
                        <h2>Price and Quality</h2>
                        <label for="price">Price</label>
                        <input type="text" id="price" name="price" placeholder="" required>

                        <label for="stock_quantity">Quality</label>
                        <input type="number" id="stock_quantity" name="stock_quantity" placeholder="0" required>
                    </div>

                    <div class="section organization-section">
                        <h2>Other</h2>
                        <label for="vendor">Brand</label>
                        <input type="text" id="vendor" name="vendor" placeholder="eg. Nike">


                        <label for="tags">Tag</label>
                        <input type="text" id="tags" name="tags" placeholder="">
                    </div>

                    <div class="save">
                        <button type="submit">Save</button>
                    </div>

                </div>


            </form>

        </div>

    </div>


</div>


<script src="{% static 'style/js/component-js/AddProduct.js' %}"></script>

</body>

