<head>
    {% load static %}
    {% load humanize %}

    <title>Product Detail</title>
    <link rel="stylesheet" href=" {% static 'style/css/component-css/productDetail/productPrice.css' %}">
</head>

<body id="body">

<div class="product-card">
    <h2>{{ product.name }}</h2>

    <div class="price-section">
        <div class="buy-now-price">
            <p>Buy now for</p>
            <div class="price">
                <p class="price_value"> {{product.price|intcomma }} ₫</p>
            </div>
        </div>

    </div>

    <div class="button-container">
        <button class="cart-btn"><i class="fas fa-shopping-cart"></i></button>
        <button class="buy-now-btn">Buy Now</button>
    </div>

    <p class="contact-info"><i class="fa-solid fa-phone"></i> Call <span>1800-6601</span> for purchase advice (Free)</p>
</div>


</body>
