<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/css/page-css/productDetail.css' %}">
</head>
<body>
{% block content %}
    {% include 'header.html'%}

    <div class="product-container">
        <div class="product-card">
            {% include 'product/productImage.html' %}
        </div>

        <div class="product-price">
            {% include 'product/productPrice.html' %}
        </div>

{#    </div>#}
{##}
{#    <div class="product-info">#}
{#        {% include 'product/productInfor.html' %}#}
{#    </div>#}
{##}
{##}
{#    <div class="footer">#}
        {#    {% include 'footer.html' %}#}
{#    </div>#}



    {#    {% include 'product/productImage.html' %}#}
    {#    {% include 'product/productDescripton.html' %}#}
    {#    {% include 'product/productPrice.html' %}#}
    {#    {% include 'product/productInfor.html' %}#}


    {#    {% include '../../home/templates/footer.html' %}#}



{% endblock %}
</body>

