<head>
{% load static %}
    <title>Product Detail</title>
    <link rel="stylesheet" href=" {% static 'style/css/component-css/productDetail/productPrice.css' %}">
</head>

<body id="body">

<div class="product-card">
    <h2>Macbook Pro M3 14 2024 8CPU 10GPU/16GB/1TB</h2>
{#    <h2>Macbook Pro M3 14 2024 8CPU 10GPU/16GB/1TB</h2>#}

    <div class="price-section">
        <div class="buy-now-price">
            <p>Buy now for</p>
            <div class="price">
                <h3>29,000,000 ₫</h3>
            </div>
        </div>

    </div>

    <div class="button-container">
        <button class="cart-btn"><i class="fas fa-shopping-cart"></i></button>
        <button class="buy-now-btn">Buy Now</button>
    </div>

    <p class="contact-info"><i class="fa-solid fa-phone"></i> Call <span>1800-6601</span> for purchase advice (Free)</p>
</div>


</body>
