<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/css/page-css/productDetail.css' %}">
</head>
<body id="body">
{% block content %}
    {% include 'header.html' %}

    <div class="product-container">


        <div class="left">
            {% include 'product/productImage.html' %}
            <div class="description">
                {% include 'product/productDescripton.html' %}
            </div>

        </div>


        <div class="right">
            <div class="product-price">
                {% include 'product/productPrice.html' %}
            </div>

            <div class="product-info">
                {% include 'product/productInfor.html' %}
            </div>


            <div class="product-rating">
                {% include 'product/productRating.html' %}
            </div>

        </div>

    </div>






{% endblock %}


         <div id="footer">
            {% include 'footer.html' %}
         </div>



</body>

