
<head>
    {% load  static %}
    <title>Product Comparison</title>
    <link rel="stylesheet" href="{% static 'style/css/component-css/productDetail/productDescripton.css' %}">
</head>

<body>
    <div class="container my-5">
        <div class="row align-items-start">
            <div class="row">

                <div class="product-description">



                    <h6>Descriptions</h6>
                    <p>{{ product.description }}</p>
{#                    <img src="../../../resource/Image/product_description/macbook_pro_14_m4_2024_6_3d5ae2007a.jpg"#}
{#                        class="img-fluid my-3" alt="#">#}
{##}
{#                    <h6>Ultra-realistic graphics, unlimited experience</h6>#}
{#                    <p>With a powerful GPU and hardware ray tracing, the MacBook Pro M4 takes graphics processing to the#}
{#                        next level. It can run heavy games and complex design applications smoothly, making every frame#}
{#                        sharper and more vivid than ever. Dynamic Caching technology optimizes memory to boost GPU#}
{#                        utilization, ensuring fast response and stable performance even when handling graphics-intensive#}
{#                        tasks.</p>#}
{#                    <img src="../../../resource/Image/product_description/macbook_pro_14_m4_2024_e_dbb8b76946.jpg"#}
{#                        class="img-fluid my-3" alt="#">#}
{##}
{#                    <h6>Excellent battery life with 24 hours of experience</h6>#}
{#                    <p>With an impressive 24 hours of battery life, the MacBook Pro 2024 is proudly introduced by Apple#}
{#                        as the Mac model with the best battery life ever. You no longer have to worry about charging the#}
{#                        battery regularly during the day. Fast charging technology allows 50% energy regeneration in#}
{#                        just 30 minutes, ensuring it is always ready when you need it. Whether working in the office or#}
{#                        on a business trip, this laptop is always a reliable companion.</p>#}
{#                    <img src="../../../resource/Image/product_description/macbook_pro_14_m4_2024_10cpu_10gpu_16gb_512gb_a_199d2c6e56.jpg"#}
{#                        class="img-fluid my-3" alt="#">#}
{##}
{#                    <h6>macOS: The Platform for Professionals</h6>#}
{#                    <p>MacBook Pro M4 is optimized for macOS, smoothly supporting everything from Microsoft 365, Slack,#}
{#                        Zoom to specialized software like Adobe InDesign, Blender, Xcode, Logic Pro or Final Cut Pro.#}
{#                        Whether you are a designer, programmer or content producer, this ecosystem fully meets your#}
{#                        needs, helping to increase productivity and creativity.</p>#}
{#                    <img src="../../../resource/Image/product_description/macbook_pro_14_m4_2024_10cpu_10gpu_16gb_512gb_2_c0a0418a05.jpg"#}
{#                        class="img-fluid my-3" alt="#">#}

                </div>
            </div>
        </div>

    </div>
</body>
