
<head>
    {% load  static %}
    <title>Product Comparison</title>
    <link rel="stylesheet" href="{% static 'style/css/component-css/productDetail/productDescripton.css' %}">
</head>

<body>
    <div class="container my-5">
        <div class="row align-items-start">
            <div class="row">

                <div class="product-description">
                    <h6>Descriptions</h6>
                    <p>{{ product.description }}</p>

                </div>
            </div>
        </div>


        <div class="product-review-container">
            <!-- Customer Feedback Section -->
            <div class="comment-section">
                <h2>Customer Feedback</h2>

                <!-- Star Rating -->
                <div class="star-rating">
                    <span class="star" data-rating="1">★</span>
                    <span class="star" data-rating="2">★</span>
                    <span class="star" data-rating="3">★</span>
                    <span class="star" data-rating="4">★</span>
                    <span class="star" data-rating="5">★</span>
                </div>

                <!-- Comment Input -->
                <textarea placeholder="Enter your comment..." class="comment-input"></textarea>
                <button class="send-comment-btn">Send Comment</button>
            </div>
        </div>


    </div>
</body>
