
<head>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'style/css/component-css/productDetail/productImage.css' %}">
    <title></title>

</head>
<body id="body">
<div class="product-detail">


    <div class="product-gallery">
        <div class="carousel">
            <button class="prev"><i class="fa-solid fa-chevron-left"></i></button>
            <img id="product-image" src="{% static 'resource/Image/macbook-air-m3-13-2024-xanh-1.jpg' %} " alt="MacBook Air - Xám " class="product-image">
            <button class="next"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>

    <div class="color-selector">
        <div class="color-option img-item" data-image="img1.jpg">
            <img src="{% static 'resource/Image/2024_3_20_638465487457411344_macbook-air-m3-13-2024-xam-1.jpg'%}" alt="Xám">
        </div>
        <div class="color-option img-item " data-image="img2.jpg">
            <img src="{% static 'resource/Image/macbook-air-m3-13-2024-xanh-1.jpg' %}"  alt="Xanh Đen">
        </div>
        <div class="color-option img-item " data-image="img3.jpg">
            <img src="{% static 'resource/Image/2024_3_20_638465245213555683_macbook-air-m3-13-2024-bac-1.jpg' %} "  alt="Bạc">
        </div>
        <div class="color-option img-item " data-image="img4.jpg">
            <img src="{% static 'resource/Image/2024_3_20_638465302276858353_macbook-air-m3-13-2024-vang-1.jpg' %} "  alt="Vàng">

        </div>
    </div>
</div>

    <script src="{% static 'style/js/component-js/product-image.js'%} "></script>

</body>

