
<head>
    {% load  static %}
    <title>Product Comparison</title>
    <link rel="stylesheet" href="{% static 'style/css/component-css/productDetail/productDescripton.css' %}">
</head>

<body>
    <div class="container my-5">
        <div class="row align-items-start">
            <div class="row">

                <div class="product-description">
                    <h6>Descriptions</h6>
                    <p>{{ product.description }}</p>

                </div>
            </div>
        </div>

    </div>
</body>
