<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Components</title>
    <link rel="stylesheet" href="../../style/css/admin-css/AdminSidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <nav id="sidebar">

        <ul class="navbar-nav theme-brand flex-row  d-none d-lg-flex">
            <li class="nav-item theme-text">
                <img class="logo" src="../../../resource/Image/logo/KoNen_logoNgang_Ngang2.png" alt=" Image Logo ">
                <a href="index.html" class="nav-link"></a>
            </li>
        </ul>


        <ul class="list-unstyled menu-categories" id="accordionExample">

            <li class="menu">
                <a href="#ProductManagement:" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-users"></i>
                        <span>User Dashboard</span>
                    </div>
                    <div>
                        <i class="flaticon-right-arrow"></i>
                    </div>
                </a>
                
            </li>

            <li class="menu">
                <a href="#ProductManagement.html" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-list-check"></i>
                        <span>Product Management</span>
                    </div>
                    
                </a>
                <ul class="submenu list-unstyled collapse show" id="ecommerce" data-parent="#accordionExample">
                    <li >
                        <a href="ecommerce_dashboard.html"> Products </a>
                    </li>
                    <li>
                        <a href="ecommerce_orders.html"> Product Catalog </a>
                    </li>
                    <li>
                        <a href="ecommerce_product.html"> Product Details </a>
                    </li>
                    <li>
                        <a href="ecommerce_product_catalog.html"> Add/Edit Products </a>
                    </li>
                   
                    <li>
                        <a href="ecommerce_addedit_product.html"> Add/Edit Categories </a>
                    </li>
                    <li>
                        <a href="ecommerce_addedit_categories.html"> Low Stock </a>
                    </li>
                    <li>
                        <a href="ecommerce_view_cart.html"> Best Sellers </a>
                    </li>
                    <li>
                        <a href="ecommerce_view_payments.html"> Search Terms </a>
                    </li>
                    <li>
                        <a href="ecommerce_view_customers.html"> Reviews </a>
                    </li>

                </ul>
            </li>

            <li class="menu">
                <a href="#OrderManagement.html" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Order Management</span>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse show" id="ecommerce" data-parent="#accordionExample" style="">
                    <li >
                        <a href="ecommerce_dashboard.html"> View Cart </a>
                    </li>
                    <li>
                        <a href="ecommerce_orders.html"> Orders </a>
                    </li>
                    <li>
                        <a href="ecommerce_product.html"> Checkout </a>
                    </li>
                    <li>
                        <a href="ecommerce_product_catalog.html"> Invoice </a>
                    </li>
                    <li>
                        <a href="ecommerce_addedit_product.html"> Shipments </a>
                    </li>
                    <li>
                        <a href="ecommerce_addedit_categories.html"> Products in Cart </a>
                    </li>
                    <li>
                        <a href="ecommerce_view_cart.html"> Refunds </a>
                    </li>
                </ul>
            </li>
            
            <li class="menu">
                <a href="#OrderManagement.html" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-brands fa-space-awesome"></i>
                        <span>Promotion program</span>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse show" id="ecommerce" data-parent="#accordionExample" style="">
                    <li >
                        <a href="ecommerce_dashboard.html"> Coupons </a>
                    </li>
                    <li>
                        <a href="ecommerce_orders.html"> Newsletters </a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#OrderManagement.html" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-magnifying-glass-chart"></i>
                        <span>Analysis</span>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse show" id="ecommerce" data-parent="#accordionExample" style="">
                    <li >
                        <a href="ecommerce_dashboard.html"> DataTables </a>
                    </li>
                    <li>
                        <a href="ecommerce_orders.html"> chart </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>


</body>
</html>