<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Components</title>
    <link rel="stylesheet" href="../../style/css/admin-css/AdminSidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <nav id="sidebar">

        <ul class="navbar-nav ">
            <li class="nav-item theme-text">
                <img class="logo" src="../../../resource/Image/logo/KoNen_logoNgang_Ngang2.png" alt=" Image Logo ">
                <a href="index.html" class="nav-link"></a>
            </li>
        </ul>


        <ul class="list-unstyled" id="accordionExample">

            <li class="menu">
                <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle nav-item">
                    <div class="">
                        <i class="fa-solid fa-users"></i>
                        <span>User Dashboard</span>
                    </div>
                   
                </a>
                
            </li>

            <li class="menu">
                <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle nav-item">
                    <div class="">
                        <i class="fa-solid fa-list-check"></i>
                        <span>Product Management</span>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse show"  data-parent="#accordionExample">
                    <li >
                        <a class="nav-item" href="#"> Products </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Product Catalog </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Product Details </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Add/Edit Products </a>
                    </li>
                   
                    <li>
                        <a class="nav-item" href="#"> Add/Edit Categories </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Low Stock </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Best Sellers </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Search Terms </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Reviews </a>
                    </li>

                </ul>
            </li>

            <li class="menu">
                <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle nav-item">
                    <div class="">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Order Management</span>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse show"  data-parent="#accordionExample" style="">
                    <li >
                        <a class="nav-item" href="#"> View Cart </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Orders </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Checkout </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Invoice </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Shipments </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Products in Cart </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Refunds </a>
                    </li>
                </ul>
            </li>
            
            <li class="menu">
                <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle nav-item">
                    <div class="">
                        <i class="fa-brands fa-space-awesome"></i>
                        <span>Promotion program</span>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse show"  data-parent="#accordionExample" style="">
                    <li >
                        <a class="nav-item" href="#"> Coupons </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Newsletters </a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle nav-item">
                    <div class="">
                        <i class="fa-solid fa-magnifying-glass-chart"></i>
                        <span>Analysis</span>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse show"  data-parent="#accordionExample" style="">
                    <li >
                        <a class="nav-item" href="#"> DataTables </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> chart </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <script src="../../style/js/component-js/AdminSidebar.js"></script>

</body>
</html>