<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="../../style/css/admin-css/AdminHeader.css">
    <link rel="stylesheet" href="../../../resource/fontawesome-free-6.6.0-web/css/all.css">

</head>
<body>
<div id="header" class="mid_align">
    <div class="nav_title">
        <span>Dashboard</span>
    </div>

    <div class="right_header mid_align row">
        <ul class="mid_align row">
            <li>
                <div class="icon ">
                    <i class="fa-regular fa-bell"></i>
                </div>
            </li>

            <li>
                <div class="icon">
                    <i class="fa-regular fa-rectangle-list"></i>
                </div>
            </li>

            <li>
                <div class="icon">
                    <i class="fa-regular fa-envelope"></i>
                </div>
            </li>

            <div class="rectangle"></div>

            <li>
                <div class="icon">
                    <i class="fa-regular fa-moon"></i></div>
            </li>

            <div class="rectangle"></div>

            <li>
                <div class="avtar ">
                    <img src="../../../resource/Image/avarta.jpg" height="720" width="1280"/>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>
</html>