<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Components</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../../../backend/static/style/css/admin-css/AdminSidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="../../../../backend/static/style/js/page/admin-js/Admin.js"></script>
</head>
<body>
    <nav id="sidebar">

        <ul class="navbar-nav ">
            <li class="nav-item theme-text" data-src="abdb">
                <img class="logo" src="../../../../backend/static/resource/Image/logo/KoNen_logoNgang_Ngang2.png" alt=" Image Logo ">
            </li>
        </ul>


        <ul class="list-unstyled" id="accordionExample">

            <li class="menu nav-item" data-src="">
                <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-users"></i>
                        <span>Dashboard</span>
                    </div>
                   
                </a>
                
            </li>

            <li class="menu">
                <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <div class="">
                        <i class="fa-solid fa-list-check"></i>
                        <span>Product Management</span>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse show"  data-parent="#accordionExample">
                    <li class="nav-item" data-src="../AdminComponent/ViewCart.html" >
                        <a href="#"> Products </a>
                    </li>
                    <li class="nav-item" data-src="">
                        <a  href="#"> Product Catalog </a>
                    </li>
                    <li class="nav-item" data-src="">
                        <a  href="#"> Product Details </a>
                    </li>
                    <li class="nav-item" data-src="">
                        <a  href="#"> Add Products </a>
                    </li>
                   
                    <li class="nav-item" data-src="">
                        <a  href="#"> Add/Edit Categories </a>
                    </li>
                    <li class="nav-item" data-src="">
                        <a  href="#"> Low Stock </a>
                    </li>
                    <li class="nav-item" data-src="">
                        <a  href="#"> Best Sellers </a>
                    </li>
                    <li class="nav-item" data-src="">
                        <a  href="#"> Search Terms </a>
                    </li>
                    <li class="nav-item" data-src="">
                        <a  href="#"> Reviews </a>
                    </li>

                </ul>
            </li>

            <li class="menu">
                <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle nav-item">
                    <div class="">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Order Management</span>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse show"  data-parent="#accordionExample" style="">
                    <li >
                        <a class="nav-item" href="#"> View Cart </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Orders </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Checkout </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Invoice </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Shipments </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Products in Cart </a>
                    </li>
                    <li>
                        <a class="nav-item" href="#"> Refunds </a>
                    </li>
                </ul>
            </li>
            
            <li class="menu">
                <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle ">
                    <div class="">
                        <i class="fa-brands fa-space-awesome"></i>
                        <span>Promotion program</span>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse show"  data-parent="#accordionExample" style="">
                    <li >
                        <a class="" href="#"> Coupons </a>
                    </li>
                    <li>
                        <a class="" href="#"> Newsletters </a>
                    </li>
                </ul>
            </li>

            <li class="menu">
                <a href="#" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle ">
                    <div class="">
                        <i class="fa-solid fa-magnifying-glass-chart"></i>
                        <span>Analysis</span>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse show"  data-parent="#accordionExample" style="">
                    <li >
                        <a class="" href="#"> DataTables </a>
                    </li>
                    <li>
                        <a class="  " href="#"> chart </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <script src="../../../../backend/static/style/js/component-js/AdminSidebar.js"></script>

</body>
</html>