html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: SansSerif, Geneva, Tahoma, sans-serif;
}

/*Reuse*/
.mid_align{
    display: flex;
    align-items: center;
    text-align: center;
}

.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}

.rectangle{
    width: 1px;
    height: 30%;
    background-color: rgba(90, 90, 90, 0.49);
}

/*Header*/
#header {
    width: 100%;
    height: 100%;

    background-color: rgb(232, 232, 232);
    justify-content: space-between;
    display: flex;
    flex-direction: row-reverse
}



.right_header{
    height: 100%;

}

.right_header ul{
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0 30px;
    color: #20212D;
}

.right_header li{
    padding: 0 15px;
    font-size: 24px;
    font-weight: 100;
    cursor: pointer;
}

.avtar{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    overflow: hidden;

}

.avtar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
