<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../../style/css/component-css/style-user_order/OrderHistoryItem.css">
  <script src="../../style/js/component-js/style-user_order/OrderHistoryItem.js"></script>

</head>
<body>
<div id="container" class="mid_align row">


  <div class="image">
    <img src="../../../resource/Image/2024_3_20_638465487457411344_macbook-air-m3-13-2024-xam-1.jpg"/>
  </div>


  <div class="description mid_align col  ">
    <div class="title bold">98 Inch Crystal UHD DU9000 4K Tizen OS Smart TV (2024)</div>

    <div class="color">
      <span class="color_name">Màu Sắc: <span>Đen</span></span>
    </div>

      <div class="quantity">
      <span class="color_name">Số lượng: <span>1</span></span>
    </div>


    <div class="status">
      <span>Đã giao hàng</span>
    </div>

  </div>


  <div class="section_price mid_align col  ">
    <div class="date">
      <span>22/10/2024</span>
    </div>

    <div class="wrap_price col">
      <span class="title">Tổng thanh toán: </span>
      <span class="price">79,000,000 VND</span>
    </div>

    <div class="btn col">
      <button class="btn_detail" data-src="../components/user_order/OrderHistory.html">Xem chi tiết</button>
      <button class="btn_support">Hỗ trợ</button>
    </div>


  </div>




</div>
</body>
</html>