<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../style/css/component-css/UserHome/header.css">

</head>
<body>
<section class="carousel-container">
  <div class="carousel">
    <div class="carousel-slide">
      <img src="../../../resource/Image/Banner-Web2024-01-scaled.jpg" alt="Slide 1">
    </div>
    <div class="carousel-slide">
      <img src="../../../resource/Image/Banner-Web2024-03-1-scaled.jpg" alt="Slide 3">
    </div>
    <div class="carousel-slide">
      <img src="../../../resource/Image/Banner-Web2024-02-scaled.jpg" alt="Slide 2">
    </div>
  </div>
  <div class="carousel-nav">
    <span class="prev">&#10094;</span>
    <span class="next">&#10095;</span>
  </div>
  <div class="carousel-dots">
    <span class="dot" data-slide="1"></span>
    <span class="dot" data-slide="2"></span>
    <span class="dot" data-slide="3"></span>
  </div>
</section>
<h4>MacOne - Vũ trụ Mac du hành cùng trải nghiện</h4>
<script src="../../style/js/page/userHome.js"></script>
</body>
</html>