<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gapple Footer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../style/css/component-css/UserHome/footer.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <footer class="py-4">
            <div class="row">
                <!-- Cột 1: Về Gapple -->
                <div class="col-md-3">
                    <h5 class="footer-heading">Về Gapple <img src="../../../resource/Image/test.png" alt="Gapple Icon" height="30px"></h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="custom-link">
                                <h6>Công ty cổ phần MACONE</h6>
                            </a></li>
                        <li>Giấy phép ĐKKD số: 0108037559</li>
                        <li>Hotline tư vấn: <a class="custom-link">0936 096 900</a></li>
                        <li>Khách hàng Doanh nghiệp: <a class="custom-link"> 0936 368 455</a></li>
                        <li>Bảo hành: <a class="custom-link"> 0936 096 900 (Nhánh 3)</a></li>
                        <br>
                        <ul class="list-unstyled">
                            <h5 class="footer-heading">Mạng Xã Hội</h5>
                            <div class="row-md-3">
                                <a href="#"> <img class="img-icon"
                                        src="https://images.vexels.com/media/users/3/223136/isolated/preview/984f500cf9de4519b02b354346eb72e0-facebook-icon-social-media-by-vexels.png"
                                        height="30px">
                                </a>
                                <a href="#"> <img class="img-icon"
                                        src="https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc3/Instagram_Logo_png.png"
                                        height="30px"></a>

                                <a href="#"><img class="img-icon"
                                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/YouTube_social_white_square_%282017%29.svg/1200px-YouTube_social_white_square_%282017%29.svg.png"
                                        height="30px"></a>

                            </div>
                        </ul>
                </div>

                <!-- Cột 2: Hỗ trợ khách hàng -->
                <div class="col-md-3">
                    <h5 class="footer-heading">Hỗ trợ khách hàng</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="custom-link">Giới thiệu</a></li>
                        <li><a href="#" class="custom-link">Hướng dẫn mua hàng</a></li>
                        <li><a href="#" class="custom-link">Bán hàng doanh nghiệp</a></li>
                        <li><a href="#" class="custom-link">Mua Trả Góp</a></li>
                        <li><a href="#" class="custom-link">Tin Công Nghệ</a></li>
                        <li><a href="#" class="custom-link">GFix – Trung tâm dịch vụ sửa chữa</a></li>
                        <li><a href="#" class="custom-link">Liên Hệ</a></li>
                        <li><a href="#" class="custom-link"></a><img
                                src="https://macone.vn/wp-content/uploads/2018/11/dathongbao-1-e1542425893350.png"
                                alt="https://th.bing.com/th/id/OIP.eMjg4sM73iFjDP4EUacnfQHaHa?rs=1&pid=ImgDetMain"
                                height="60px"></li>

                    </ul>
                </div>

                <!-- Cột 3: Chính sách -->
                <div class="col-md-3">
                    <h5 class="footer-heading">Chính sách</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="custom-link">Chính sách Bảo Hành & Đổi Trả</a></li>
                        <li><a href="#" class="custom-link">Chính sách đặt hàng</a></li>
                        <li><a href="#" class="custom-link">Chính sách vận chuyển</a></li>
                        <li><a href="#" class="custom-link">Chính sách bảo mật thông tin</a></li>
                        <li><a href="#" class="custom-link">Chính sách thanh toán</a></li>
                        <li><a href="#" class="custom-link">Gói bảo hành vàng Gapple Care</a></li>
                        <li><a href="#" class="custom-link">Các gói bảo hành hỗ trợ doanh nghiệp</a></li>
                    </ul>
                </div>

                <!-- Cột 4: Địa chỉ -->
                <div class="col-md-3">
                    <h6 class="footer-heading">Hà Nội</h6>
                    <ul class="list-unstyled">
                        <li>
                            <h6>Cơ sở 1: 113 Hoàng Cầu, Q. Đống Đa, Hà Nội.</h6>
                        </li>
                        <li>SĐT: <a class="custom-link"></a>0306 019 912</li>
                        <li>
                            <h6>Cơ sở 2: 99 Nguyễn Văn Huyên, Q. Cầu Giấy, Hà Nội.</h6>
                        </li>
                        <li>SĐT: <a class="custom-link">0773 566 799</a></li>
                    </ul>
                    <h6 class="footer-heading">TPHCM</h6>
                    <ul class="list-unstyled">
                        <li>
                            <h6>Cơ sở 3: 186 Võ Văn Tần, Q. 3, TP Hồ Chí Minh.</h6>
                        </li>
                        <li>SĐT: <a class="custom-link">0386 219 772</a></li>
                        <li><i>(Các cơ sở đều có chỗ để xe ô tô)</i></li>

                    </ul>
                </div>
            </div>
            <hr>
            <div class="below_footer">
                <ul class="list-unstyled">
                    <li>
                        Sản phẩm tiêu biểu: MacBook | MacBook Air | MacBook Pro | iMac | Mac Mini
                    </li>
                    <li>
                        Copyright © 2024 - Bản quyền thuộc về Gapple.
                    </li>
                </ul>
            </div>

        </footer>
    </div>
</body>

</html>