<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    <link rel="stylesheet" href="../../../../backend/static/style/css/page-css/productDetail.css">
</head>
<body>
<iframe src="../UserHome/header.html" id="header"></iframe>

<div class="product-container">
    <div class="product-card">
        <iframe src="productImage.html" id="image"></iframe>
        <div class = "description">
        <iframe src="productDescription.html" id="content"></iframe>
        </div>

    </div>

    <div class="product-price">
        <iframe src="productPrice.html" id="price"></iframe>
    </div>
</div>
    <div class="product-info">
        <iframe src="productInfo.html" id="info"></iframe>
    </div>
    <div class="footer">
    <iframe src="../UserHome/footer.html" id="footer"></iframe>
    </div>

</body>
</html>
