<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông số kỹ thuật</title>
    <link rel="stylesheet" href="../../style/css/component-css/productDetail/productInfo.css">

</head>
<body>

<!-- Tabs -->
<div class="tabs">
    <div class="tab-button active" data-tab="tech-specs">Thông số kỹ thuật</div>
    <div class="tab-button" data-tab="reviews">Bài viết đánh giá</div>
</div>

<!-- Content Section -->
<div class="content active" id="tech-specs">
    <!-- Accordion items -->
    <div class="accordion">Bộ xử lý</div>
    <div class="panel">
        <p>Công nghệ CPU: Apple M3 - Hãng không công bố</p>
        <p>Số nhân: 8</p>
        <p>Số luồng: Hãng không công bố</p>
        <p>Tốc độ CPU: 100GB/s</p>
        <p>Tốc độ tối đa: Hãng không công bố</p>
        <p>Bộ nhớ đệm: Hãng không công bố</p>
    </div>

    <div class="accordion">Bộ nhớ RAM, Ổ cứng</div>
    <div class="panel">
        <p>RAM: 8 GB</p>
        <p>Loại RAM: Hãng không công bố</p>
        <p>Tốc độ Bus RAM: Hãng không công bố</p>
        <p>Hỗ trợ RAM tối đa: Không hỗ trợ nâng cấp</p>
        <p>Ổ cứng: 256 GB SSD</p>
    </div>

    <div class="accordion">Màn hình</div>
    <div class="panel">
        <p>Màn hình: 13.6"</p>
        <p>Độ phân giải: Liquid Retina (2560 x 1664)</p>
        <p>Tần số quét: Hãng không công bố</p>
        <p>Công nghệ màn hình: Wide color (P3), 500 nits brightness, True Tone Technology, 1 tỷ màu</p>
    </div>

    <div class="accordion">Đồ họa và Âm thanh</div>
    <div class="panel">
        <p>Card màn hình: Card tích hợp - 8 nhân GPU</p>
        <p>Công nghệ âm thanh: Spatial Audio, 3 microphones, 4 Loa, Dolby Atmos</p>
    </div>

    <div class="accordion">Cổng kết nối & tính năng mở rộng</div>
    <div class="panel">
        <p>Cổng giao tiếp: MagSafe 3, Jack tai nghe 3.5 mm, 2 x Thunderbolt 3 / USB 4 (lên đến 40 Gb/s)</p>
        <p>Kết nối không dây: Wi-Fi 6E (802.11ax), Bluetooth 5.3</p>
        <p>Webcam: Full HD Webcam</p>
        <p>Tính năng khác: Bảo mật vân tay, Đèn bàn phím: Đơn sắc - Màu trắng</p>
    </div>

    <div class="accordion">Kích thước & khối lượng</div>
    <div class="panel">
        <p>Kích thước: Dài 304.1 mm - Rộng 215 mm - Dày 11.3 mm</p>
        <p>Khối lượng tịnh: 1.24 kg</p>
        <p>Chất liệu: Vỏ nhôm tái chế 100%</p>
    </div>

    <div class="accordion">Thông tin khác</div>
    <div class="panel">
        <p>Thông tin Pin: Lên đến 18 giờ</p>
        <p>Công suất bộ sạc: 30 W</p>
        <p>Hệ điều hành: macOS Sonoma</p>
        <p>Thời điểm ra mắt: 2024</p>
    </div>
</div>

<div class="content" id="reviews">
    <p>Chưa có bài viết đánh giá nào cho sản phẩm này.</p>
</div>


<main>
    <script src="../../style/js/component-js/productInfo.js"></script>
</main>
</body>
</html>
