<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Comparison</title>
    <link rel="stylesheet" href="../../style/css/component-css/productDetail/productComparing.css">
</head>
<body>
    <div class="comparison-container">
    <h1 style="text-align: left;">Compare Similar Products</h1>
        <!-- Table for Comparison -->
        <table class="comparison-table">
            <thead>
                <tr>
                    <th>Specifications</th>
                    <th>MacBook Air 13 inch M2 2022</th>
                    <th>Dell Inspiron N7306</th>
                    <th>Lenovo Yoga 7 14ACN6</th>
                    <th>Acer Triton Gaming</th>
                    <th>Acer Nitro Gaming</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Image</td>
                    <td><img src="../../../resource/Image/2024_3_20_638465245213555683_macbook-air-m3-13-2024-bac-1.jpg" alt="" height="80px"></td>
                    <td><img src="../../../resource/Image/2024_3_20_638465302276858353_macbook-air-m3-13-2024-vang-1.jpg" alt="" height="80px"></td>
                    <td><img src="../../../resource/Image/2024_3_20_638465487289151222_macbook-air-m3-13-2024-xanh-1.jpg" alt="" height="80px"></td>
                    <td><img src="../../../resource/Image/2024_3_20_638465487457411344_macbook-air-m3-13-2024-xam-1.jpg" alt="" height="80px"></td>
                    <td><img src="../../../resource/Image/2020_11_12_637407982638531818_mba-2020-gray-1.jpeg" alt="" height="85px"></td>
                </tr>
                <tr>
                    <td>Sale Price</td>
                    <td>23,990,000 ₫</td>
                    <td>28,599,000 ₫</td>
                    <td>15,990,000 ₫</td>
                    <td>20,990,000 ₫</td>
                    <td>16,990,000 ₫</td>
                </tr>
                <tr>
                    <td>Original Price</td>
                    <td>27,990,000 ₫</td>
                    <td>30,500,000 ₫</td>
                    <td>25,990,000 ₫</td>
                    <td>25,000,000 ₫</td>
                    <td>20,990,000 ₫</td>
                </tr>
                <tr>
                    <td>CPU Type</td>
                    <td>8-Core</td>
                    <td>1135G7</td>
                    <td>5600U</td>
                    <td>11800H</td>
                    <td>12700H</td>
                </tr>
                <tr>
                    <td>RAM Capacity</td>
                    <td>8 GB</td>
                    <td>8 GB</td>
                    <td>8 GB</td>
                    <td>32 GB</td>
                    <td>8 GB</td>
                </tr>
                <tr>
                    <td>Max Supported RAM</td>
                    <td>8 GB</td>
                    <td>Not upgradable</td>
                    <td>Not upgradable</td>
                    <td>64 GB</td>
                    <td>32 GB</td>
                </tr>
                <tr>
                    <td>Screen Size</td>
                    <td>13.6 inch</td>
                    <td>13.3 inch</td>
                    <td>14.0 inch</td>
                    <td>16.0 inch</td>
                    <td>15.6 inch</td>
                </tr>
                <tr>
                    <td>Resolution</td>
                    <td>2560 x 1644 Pixels</td>
                    <td>1920 x 1080 Pixels</td>
                    <td>1920 x 1080 Pixels</td>
                    <td>2560 x 1600 Pixels</td>
                    <td>1920 x 1080 Pixels</td>
                </tr>
                <tr>
                    <td>Refresh Rate</td>
                    <td>60 Hz</td>
                    <td>60 Hz</td>
                    <td>60 Hz</td>
                    <td>165 Hz</td>
                    <td>144 Hz</td>
                </tr>
                <tr>
                    <td>Ports</td>
                    <td>MagSafe Charger, Audio Jack, 3.5 mm Jack, 2 Type C</td>
                    <td>2 Type C, 1 Thunderbolt, 1 USB 3.0, 1 3.5 mm Jack</td>
                    <td>1 LAN, 1 3.5 mm Jack, 1 Card Reader, 3 USB 3.0, 1 HDMI</td>
                    <td>1 DC-in Jack, 1 HDMI 2.1, 1 Type C, 1 3.5 mm Jack, 3 USB 3.2</td>
                    <td>1 DC-in Jack, 1 HDMI 2.1, 1 Type C, 1 3.5 mm Jack, 3 USB 3.2</td>
                </tr>
                <tr>
                    <td>Numeric Keypad</td>
                    <td>No</td>
                    <td>No</td>
                    <td>No</td>
                    <td>Yes</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>1.24 kg</td>
                    <td>1.37 kg</td>
                    <td>1.45 kg</td>
                    <td>2.4 kg</td>
                    <td>2.5 kg</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
