<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../../backend/static/style/css/admin-css/AddProduct.css">
    <link rel="stylesheet" href="../../../../backend/static/resource/fontawesome-free-6.6.0-web/css/all.css">
</head>
<body>


<div id="body">

    <div class="title">
        <span>Create Product</span>
    </div>

    <div class="content row mid_align">
        <div class="left_panel col">

            <div class="wrap_content">

                <div id="primary_img">
                    <!--                    <span class="title">Primary Image</span>-->

                    <div id="placeholder" class=" mid_align col">
                        <i class="fa-solid fa-cloud-arrow-up" style="color: #24AA5D"></i>
                        <span>Upload Primary Image </span>
                    </div>

                    <div id="image_hidden">
                        <i id="remove_img" class="fa-regular fa-circle-xmark"></i>
                        <img id="display_img" src="#" alt="" srcset="">
                        <input id="image_input" type="file" name="">
                    </div>

                </div>


                <div class="tag col">
                    <label for="options" class="col">
                        <span>Product Tag</span>
                    </label>
                    <select name="options" id="options">
                        <option class="ops_item" value="">Tag 1</option>
                        <option class="ops_item" value="">tag 2</option>
                        <option class="ops_item" value="">tag 3</option>
                        <option class="ops_item" value="">tag 4</option>
                    </select>

                </div>
            </div>


        </div>


        <div class="right_panel">

            <div class="photo_section">
                <div class="photo_title">
                    Add Product Photo
                </div>


                <div id="photos_list">
                    <div class="wrap_content">

                        <div id="images_placeholder" class="mid_align col">
                            <i class="fa-solid fa-cloud-arrow-up" style="color: #24AA5D"></i>
                            <h3 class="desc">Drop your images here, or <span
                                    style="color: #24AA5D">click to browser</span></h3>
                            <h6 class="desc"> 1600 x 1200 (4:3) recommended. PNG, JPG and GIF files are allowed</h6>
                            <input type="file" id="input_list_image" accept="image/*" multiple>

                        </div>


                        <div id="list_image_hidden" class="mid_align">
                            <div id="add_more" class=" mid_align">
                                <input type="file" id="input_more" accept="image/*" multiple style="display: none">
                                <i class="fa-solid fa-plus"></i>
                                <span>Add More</span>
                            </div>


                        </div>

                    </div>
                </div>


            </div>

            <div class="section_infor">

                <div class="section_infor_title">
                    <span>Product Information</span>
                </div>

                <div class="infor_item row min_align ">
                    <label for="name" class="col">
                        <span>Product Name</span>
                        <input type="text" id="name" name="name" placeholder="Product Name" required>
                    </label>

                    <label for="category" class="col ">
                        <span>Category</span>
                        <input type="text" id="category" name="name" placeholder="Category" required>
                    </label>

                </div>


                <div class="infor_item row min_align">
                    <label for="brand" class="col">
                        <span>Brand Name</span>
                        <input type="text" id="brand" name="brand" placeholder="Brand Name" required>
                    </label>

                    <label for="chip" class="col">
                        <span>CPU</span>
                        <input type="text" id="chip" name="chip" placeholder="CPU" required>
                    </label>


                    <label for="display" class="col">
                        <span>Display</span>
                        <input type="text" id="display" name="display" placeholder="Display" required>
                    </label>

                </div>


                <div class="infor_item row min_align">
                    <label for="ram" class="col">
                        <span>RAM</span>
                        <input type="text" id="ram" name="ram" placeholder="RAM" required>
                    </label>

                    <label for="memory" class="col">
                        <span>Memory</span>
                        <input type="text" id="memory" name="chip" placeholder="Memory" required>
                    </label>


                    <label for="color" class="col">
                        <span>Color</span>
                        <input type="text" id="color" name="color" placeholder="Color" required>
                    </label>

                    <label for="stock" class="col">
                        <span>Stock</span>
                        <input type="text" id="stock" name="stock" placeholder="Quantity" required>
                    </label>


                </div>


                <div class="infor_item row min_align label_description  ">
                    <label for="desc" class="col  ">
                        <span>Descriptions</span>
                        <textarea id="desc" placeholder="Description about your product" required></textarea>
                    </label>

                </div>


            </div>


            <div class="section_price">

                <div class="section_infor_title">
                    <span>Price Detail</span>
                </div>

                <div class="infor_item row min_align">
                    <label for="price" class="col">
                        <span>Price</span>
                        <input type="text" id="price" name="price" placeholder="Price" required>
                    </label>

                    <label for="price2" class="col">
                        <span>Price 2</span>
                        <input type="text" id="price2" name="price2" placeholder="Price 2" required>
                    </label>


                    <label for="discount" class="col">
                        <span>Discount</span>
                        <input type="text" id="discount" name="discount" placeholder="Discount" required>
                    </label>

                </div>


            </div>



            <div class="btns row min_align">
                <button class="btn_add" id="add_btn">Create Product</button>
                <button class="btn_cancel" id="btn_cancel">Cancel</button>
            </div>

        </div>




    </div>
</div>
<script src="../../../../backend/static/style/js/component-js/AddProduct.js"></script>

</div>
</body>
</html>