<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="../../style/css/admin-css/AddProduct.css">
    <link rel="stylesheet" href="../../../resource/fontawesome-free-6.6.0-web/css/all.css">
</head>
<body>


<div id="body">

  <div class="title">
    <span>Add Product</span>
  </div>

    <div class="content row mid_align">
        <div class="left_panel">


            <div id="primary_img">
                <span class="title"   >Primary Image</span>

                <div id="placeholder" class=" mid_align">
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                    <span>Upload Primary Image </span>
                </div>

                <div id="image_hidden">
                    <i id="remove_img" class="fa-regular fa-circle-xmark"></i>
                    <img id="display_img" src="#" alt="" srcset="">
                    <input id="image_input" type="file" name="" >
                </div>

            </div>


        </div>
        <div class="right_panel">
            fd
        </div>
    </div>

</div>


<script src="../../style/js/component-js/AddProduct.js"></script>


</body>
</html>