
{% load humanize %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gapple</title>
    <link rel="stylesheet" href="{% static 'style/css/admin-css/addCoupon.css' %}">
    <link rel="stylesheet" href="{% static 'resource/fontawesome-free-6.6.0-web/css/all.css' %}">
</head>
<body>


<div id="container">
    <div id="menu_sidebar">
        {% include 'g_admin/AdminSidebar.html' %}
    </div>

    <div id="main">
        <form method="POST" action="{% url 'coupon:create_coupon' %}">
               {% csrf_token %}
             <div id="addCoupon">
                <h2 class="page-title">Add Coupon</h2>

                <div class="form-container">
                    <div class="form-wrapper">
                        <div class="form-section">
                            <h4 class="form-label">Coupon Type</h4>

                            <div class="form-checkbox-group">
                                <label>
                                    <input  name="type" type="radio" value="products" required > For Products </label>
                                <label>
                                    <input name="type"  type="radio" value="customer" required> For Customer  </label>
                                <label>
                                    <input name="type"  type="radio" value="category" required > For Category  </label>
                            </div>


                        </div>

                        <div class="form-section">
                            <div class="form-flex-container">
                                <!-- Percentage Input -->
                                <div class="form-input-group">
                                    <h4 class="form-label">
                                        <label>
                                            <input class="unit_type"  type="checkbox" id="percentageCheckbox" onclick="toggleInput('percentage')">
                                            Percentage
                                        </label>
                                    </h4>
                                    <input type="text" id="percentageInput" name="percent" placeholder="e.g: 10%" disabled>
                                </div>

                                <!-- Amount Input -->
                                <div class="form-input-group">
                                    <h4 class="form-label">
                                        <label>
                                            <input  class="unit_type"  type="checkbox" id="amountCheckbox" onclick="toggleInput('amount')">
                                            Amount
                                        </label>
                                    </h4>
                                    <input type="text" name="amount" id="amountInput" placeholder="e.g: 10000" disabled>
                                </div>

                                <div class="form-input-group">
                                    <h4 class="form-label">Max value</h4>
                                    <input id="max_value" name="maxValue" type="text" placeholder="Max value">
                                </div>





                            </div>
                        </div>

                        <div class="form-section row" >
                             <!-- Start Date -->
                                <div class="form-input-group">
                                    <h4 class="form-label">Start Date</h4>
                                    <input id="startDate" name="from_date" type="date" placeholder="Start Date">
                                </div>

                                <!-- End Date -->
                                <div class="form-input-group">
                                    <h4 class="form-label">End Date</h4>
                                    <input id="endDate" name="to_date" type="date" placeholder="End Date">
                                </div>


                        </div>

                        <div class="form-section">
                            <h4 class="form-label">Coupon Code</h4>
                            <input  class="input-filed" name="code" type="text" placeholder="Coupon ID, e.g: student383">
                        </div>


                        <div class="form-section">
                            <h4 class="form-label">Number Available</h4>
                            <input class="input-filed" name="remaining"   type="text" placeholder="1000">
                        </div>

{#                        <div class="form-section">#}
{#                            <h4 class="form-label">Product Code</h4>#}
{#                            <input class="input-filed" name="forProduct" type="text" placeholder="Product ID, e.g: Mac-M4">#}
{#                        </div>#}


                        <div class="form-section">
                            <button type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function toggleInput(type) {
        const percentageCheckbox = document.getElementById("percentageCheckbox");
        const amountCheckbox = document.getElementById("amountCheckbox");
        const percentageInput = document.getElementById("percentageInput");
        const amountInput = document.getElementById("amountInput");

        if (type === "percentage") {
            percentageInput.disabled = !percentageCheckbox.checked;
            amountInput.disabled = true;
            amountCheckbox.checked = false;
        } else if (type === "amount") {
            amountInput.disabled = !amountCheckbox.checked;
            percentageInput.disabled = true;
            percentageCheckbox.checked = false;
        }
    }
</script>

</body>
</html>


