* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #9ABF80;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-bttn {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: #6C9E55;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-bttn:hover {
    background-color: #55773F;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
