*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

#banner {
    margin-top: 100px;
    height: 650px;
}

#topProducts {
    height: 550px;
    margin-top: 50px;
}
#listProduct{
    height: 1080px;
}

#footer{
    height: 100%;
}