*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#banner {
    margin-top: 75px;
    height: 650px;
}

#topProducts {
    height: 550px;
    margin-top: 50px;
}
#listProduct{
    height: 1080px;
}

#footer{
    height: 100%;
}